h1 {
    color: blue;
}

.container {
    padding: 1rem;
    box-shadow: 5px 15px 8px rgba(0, 0, 0, 0.1);
    border-radius: 10px;
    /* display: flex; */
}

.nav-container {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
}

.logo {
    max-width: 9rem;
    height: auto;
    padding: 5px 5px;
    /* height: auto;  */
    /* This will maintain the original aspect ratio */
    /* position: absolute; removed this line */
    /* margin-left: 0px; this isn't necessary if your logo is the first item in the flex container */
    /* justify-self: flex-start; this line is not typically used with flexbox */
}



.nav-items {
    display: flex;
    padding: 1rem;
    border: 1px solid black;
    
}

h3 {
    padding: 0.5rem;
}